* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --white-text-color: rgba(255, 255, 255, 0.897);
}
body {
  // ----------------------navbar------------------------------
  header {
    display: none;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    &:hover {
      opacity: 1;
    }
    a:hover {
      background-color: var(--white-text-color);
      color: black;
    }
    a {
      display: inline-block;
      text-decoration: none;
      color: var(--white-text-color);
      padding: 10px 15px;
    }
  }
  main {
    // ---------------------pizza_photo--------------------
    .pizza_container {
      position: relative;
      min-height: 100vh;
      background: url(./pizza.jpg) no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        color: var(--white-text-color);
        text-align: center;
        background: none;
        h2 {
          font-size: 40px;
          padding: 20px;
        }
        button {
          background-color: black;
          border: none;
          margin-top: 15px;
          padding: 20px;
          cursor: pointer;
          &:hover {
            background-color: gray;
          }
          a {
            font-size: 20px;
            text-decoration: none;
            color: var(--white-text-color);
          }
        }
      }
    }
    .click_off_button {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background-color: black;
      border: none;
      margin-top: 15px;
      padding: 15px;
      color: var(--white-text-color);
    }
    // ---------------------------The_Menu----------------------
    section {
      width: 100%;
      background-color: black;
      padding-bottom: 70px;
      h1 {
        color: var(--white-text-color);
        font-size: 30px;
        text-align: center;
        padding: 50px 0;
      }
      .section_wrapper {
        width: 90%;
        background-color: white;
        margin: auto;
        .lists {
          width: 100%;
          display: flex;
          border: 1px solid var(--white-text-color);
          background-color: black;
          p {
            text-align: center;
            width: 100%;
            font-size: 20px;
            padding: 15px 0;
            color: var(--white-text-color);
            cursor: pointer;
            &:hover {
              background-color: red;
            }
          }
          .pizza {
            background-color: red;
          }
        }
        .about_pizza {
          width: 100%;
          background-color: var(--white-text-color);
          .eats {
            margin: 20px 10px 10px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
              font-size: 20px;
              span {
                background-color: red;
                padding: 10px;
                border-radius: 5px;
                color: var(--white-text-color);
              }
              b {
                background-color: rgb(94, 92, 92);
                color: black;
                padding: 10px;
                border-radius: 5px;
              }
            }
            button {
              font-size: 22px;
              background-color: rgb(94, 92, 92);
              border: none;
              border-radius: 5px;
              color: var(--white-text-color);
              padding: 7px;
            }
          }
          .text_eats {
            margin: 15px 10px;
            width: 93%;
            border-bottom: 1px solid rgb(94, 92, 92);
            p {
              padding: 20px 0;
              color: rgb(94, 92, 92);
              line-height: 35px;
            }
          }
          .bottom {
            border: none;
          }
        }
      }
    }
    // ----------------------------About------------------------
    #about {
      background-color: rgb(231, 174, 17);
      padding-bottom: 50px;
      .about_header {
        text-align: center;
        padding: 100px 0 20px 0;
        font-size: 30px;
        color: var(--white-text-color);
      }
      .about_wrapper {
        width: 100%;
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        .about_child {
          width: 90%;
          color: var(--white-text-color);
          line-height: 25px;
          .text_and_photo {
            margin: 20px 0 40px 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .chef_texts {
              p:first-child {
                margin-bottom: 20px;
              }
            }
            img {
              width: 150px;
              border-radius: 50%;
            }
          }
          .opening_hours {
            .opening_text {
              font-size: 20px;
            }
            .opening_hours_wrapper {
              font-size: 15px;
              align-items: center;
              display: grid;
              grid-template-areas:
                "monday FF friday ZZ"
                "wednesday  FF saturday ZZ"
                "thursday FF sunday ZZ";
              grid-template-columns: 150px 1fr 150px 1fr;
              grid-template-rows: 50px 50px 50px;
              .mon {
                grid-area: monday;
              }
              .wed {
                grid-area: wednesday;
              }
              .thur {
                grid-area: thursday;
              }
              .fri {
                grid-area: friday;
              }
              .sat {
                grid-area: saturday;
              }
              .sun {
                grid-area: sunday;
              }
            }
          }
        }
      }
    }
    // ----------------------------Map_and_footer-----------------------
    footer {
      width: 100%;
      background-color: rgb(11, 95, 121);
      padding-bottom: 50px;
      .contact_container {
        text-align: center;
        margin: 50px 0;
        p {
          font-size: 30px;
          color: var(--white-text-color);
        }
      }
      .contact_texts {
        margin: auto;
        width: 90%;
        color: var(--white-text-color);
        p {
          line-height: 25px;
        }
        p:nth-child(2) {
          margin: 20px 0;
          b {
            background-color: black;
            padding: 5px;
          }
        }
        p:nth-child(3) {
          b {
            font-size: 20px;
          }
        }
      }
      form {
        width: 90%;
        margin: auto;
        margin-top: 30px;
        input {
          width: 100%;
          padding: 20px 5px;
          font-size: 15px;
        }
        .send_message {
          cursor: pointer;
          padding: 15px 5px;
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
    .last_container {
      background-color: black;
      color: var(--white-text-color);
      text-align: center;
      padding: 50px 0;
      font-size: 20px;
      p {
        a {
          color: var(--white-text-color);
        }
      }
    }
  }
}
// ----------------------------------------------------
// --------------------------Responsive-------------------------------
@media screen and (min-width: 601px) {
  body {
    header {
      display: block;
    }
    main {
      .pizza_container {
        div {
          h2 {
            font-size: 60px;
          }
        }
      }
      #about {
        .about_wrapper {
          .about_child {
            .opening_hours {
              .opening_text {
                font-size: 25px;
              }
              .opening_hours_wrapper {
                margin-top: 30px;
                font-size: 18px;
                grid-template-columns: 250px 1fr 250px 1fr;
              }
            }
          }
        }
      }
    }
  }
}
